body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #142140, #00C4CC );

}

a   {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size:80%;
    font-weight:bolder;
 
    
}

#titulo-quemsomos {
   color: #00C4CC;
   margin-right: 150px;
   float:inline-end;

   
   
      
}

#texto-quemsomos  {
   position: sticky;
    margin-top: -50%;
    float: right;
    color: #ffffff;
    font-weight: normal;
    padding: 10px;
    font-size: larger;
    margin-right: 5%;
    
   

    
 
    
}

nav {
    background-color: #142140;
    padding:13px;
    height: 33px;
    
    text-align: center;
    

   
    

}

nav img{
   
    position: absolute; /* Posicionamento absoluto em relação ao cabeçalho */
    top: 0; /* Alinha a imagem no topo */
    left: 0; /* Alinha a imagem à esquerda */
    width: 115px; /* Largura da imagem (ajuste conforme necessário) */
    height: 59px;

}



section img{
    
    background-image: url(capa.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;


}

.quemsomos img {
   
    left: 0; /* Alinha a imagem à esquerda */
    width: 50%; /* Largura da imagem (ajuste conforme necessário) */
    height: auto;



}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

