body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: linear-gradient(to left, #142140, #00C4CC );

}

a   {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size:60%;
    font-weight:bolder;
 
    
}

#titulo-quemsomos {
   color: #1b0555;
   margin-right: 150px;
   float:inline-end;
   position: relative;
   top: 130px;
   right: 20px;
   font-size: 40px;


   
   
      
}

#texto-quemsomos  {
   position:relative;
    margin-top: -45%;
    float: right;
    color: #343b66;
    font-weight: normal;
    padding: 10px;
    font-size: larger;
    margin-right: 10%;
    
   

    
 
    
}

nav {
    background-color: #142140;
    padding:13px;
    height: 33px;
    
    text-align: center;
    

   
    

}

nav img{
   
    position: absolute; /* Posicionamento absoluto em relação ao cabeçalho */
    top: 0; /* Alinha a imagem no topo */
    left: 0; /* Alinha a imagem à esquerda */
    width: 115px; /* Largura da imagem (ajuste conforme necessário) */
    height: 59px;

}



section img{
    
    background-image: url(capa.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;


}

#titulo-serviços{
    color: #1b0555;
    margin-right: 150px;
    float:center;
    position: relative;
    top: 10px;
    right: -250px;
    font-size: 40px;

}
table {
    width: 30%;
    height: 80%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

#contate-nos {
 color: #142140;
 text-align: left;
 font-size: 40px;
}

#email {

}

#email2{
    font-weight: normal;
}    

#telefone{

}

#telefone2{
    font-weight: normal;
}

#social{

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

